 html {
     position: relative;
     min-height: 100%;
     font-size: 14px;
 }

 @media (min-width: 768px) {
     html {
         font-size: 16px;
     }
 }

 body {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     margin: 0;
 }

 main[role="main"] {
     flex: 1;
 }

 .footer {
     padding: 10px 0;
     font-size: 0.85rem;
     height : 70px;
 }

 .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
     box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
 }